<!doctype html>
<html>
<head lang="en-us">
    <meta charset="utf-8"/>
    <title>{{#title}}{{title}}{{/title}}{{^title}}Little River Wetlands Project{{/title}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>
    <link rel="stylesheet" href="/css/bootstrap-custom.css"/>
    {{#style}}
        <link rel="stylesheet" href="{{style}}"/>
    {{/style}}
    {{#microformat}}
        <link rel="profile" href="http://microformats.org/profile/hcalendar"/>
    {{/microformat}}
    {{#rss}}
        <link rel="alternate" href="{{rss}}" type="application/rss+xml" title="RSS"/>
    {{/rss}}
    <meta name="author" content="Last modified on {{modified}} by {{author}}"/>
    <meta name="description" content="{{description}}"/>
    <meta name="keywords" content="{{keywords}}"/>
    <meta name="robots" content="index,follow"/>
</head>
<body>
<div class="container">

    {{> banner}}

    {{> navigation}}

    <div class="wrap {{#nowrap}}nowrap{{/nowrap}}">
        {{{body}}}
    </div>

</div>

{{> footer}}

<script src="//code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="/js/lib/bootstrap-custom.js"></script>
{{#script}}
    <script src="{{script}}"></script>
{{/script}}
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15574005-1']);
  _gaq.push(['_setDomainName', 'lrwp.org']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
