<!doctype html>
<html>
<head lang="en-us">
	<meta charset="utf-8">
    <title>Manage</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/jquery-ui-1.10.0.custom.css"/>
    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/manage.css"/>
</head>
<body>

<!-- Navigation -->
<div id="nav" class="hidden">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" href="/">LRWP</a>
            <ul class="nav">
                {{#schema}}
                    <li class="dropdown schema-is-{{name}}">
                        <a role="button" class="dropdown-toggle dropdown-link schema-name" data-toggle="dropdown">{{name}}</a>
                        <ul class="dropdown-menu schema-actions" role="menu">
                            <li role="menuitem">
                                <a data-schema="{{name}}" class="schema-new">
                                    <i class="icon-plus-sign"></i>&nbsp; 
                                    Create<span class="schema-name">&nbsp;{{name}}</span>
                                </a>
                            </li>
                            <li role="menuitem" class="divider doclist" data-schema="{{name}}"></li>
                            {{#docs}}
                                <li role="menuitem">
                                    <a data-schema="{{schema}}" class="schema-edit" title="Created {{created}} by {{author}}" id="{{id}}">
                                        {{title}}
                                    </a>
                                </li>
                            {{/docs}}
                        </ul>
                    </li>
                {{/schema}}
            </ul>
            <ul class="nav pull-right">
                <li class="dropdown pull-right">
                    <a role="button" class="dropdown-toggle dropdown-link" data-toggle="dropdown">
                        <i class="icon-user"></i>&nbsp;<span id="user">Username</span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="menuitem">
                            <a id="show-docs">
                                <i class="icon-question-sign"></i>&nbsp; 
                                Help 
                            </a>
                        </li>
                        <li role="menuitem">
                            <a id="logout">
                                <i class="icon-off"></i>&nbsp;
                                Logout
                            </a>
                        </li>
                   </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">

    <div id="docs" class="span12">
        <h1>LRWP Content Manager</h1>
        <hr />
        <h2>Documentation</h2>
        <ul>
            <li>
                <i class="icon-plus-sign"></i>&nbsp;<a href="#doc-create">Creatng New Content</a>
            </li>
            <li>
                <i class="icon-edit"></i>&nbsp;<a href="#doc-edit">Editing Content</a>
            </li>
            <li>
                <i class="icon-remove-circle"></i>&nbsp;<a href="#doc-delete">Deleting Content</a>
            </li>
            <li>
                <i class="icon-book"></i>&nbsp;<a href="#doc-notes">Notes</a>
            </li>
        </ul>

        <h2 id="doc-create">Creating New Content</h2>
        <p>To create new content hover over one of the content types on the navigation bar at the top of this page and click on the "Create" link.</p>
        <img src="/img/manage-create.jpg" class="img-polaroid" alt="Create Content"/>

        <p>A form will appear in the main window. Add your desired content into the form fields and click the "Save" button.</p>
        <img src="/img/manage-save.jpg" class="img-polaroid" alt="Save Content"/>

        <p>Some content types require certain form fields to be filled out completely or to be formatted in a particular way. If information is missing or incorrectly formatted you will be prompted by an error message. Content will not be saved until the errors have been resolved.</p>
        <img src="/img/manage-error.jpg" class="img-polaroid" alt="Save Error"/>

        <h2 id="doc-edit">Editing Content</h2>
        <p>To edit existing content, hover over a content drop down and click on the title of the item you would like to edit.</p>
        <img src="/img/manage-edit.jpg" class="img-polaroid" alt="Edit Content"/>

        <p>Make the desired changes and click the "Save" button. Changes will not be saved until "Save" is clicked and you recieve the message stating that the document has been saved.</p>

        <h2 id="doc-delete">Deleting Content</h2>
        <p>To remove content, hover over a content drop down and click on the title of the item you wish to delete. Click the "Delete" button next to the save button and confirm that you want to delete the item.</p>
        <img src="/img/manage-confirm.jpg" class="img-polaroid" alt="Delete Content"/>
        <p>Deleted items cannot be recovered after you confirm the deletion.</p>

        <h2 id="doc-notes">Notes</h2>
        <div id="doc-notes-content"></div>

    </div>

    <!-- Form -->
    <div class="row">
        <form class="hidden span12">
            <fieldset id="schema-form"></fieldset>
       </form>
    </div>

</div>

<!-- floating save/delete buttons -->
<div id="controls">
    <button id="save" class="btn btn-primary pull-right hidden">Save</button>
    <button id="delete" class="btn btn-danger pull-right hidden">Delete</button>
</div>

<!-- Login Modal -->
<form id="login" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" method="post" action="_session/?next=/manage">
    <div class="modal-header">
        <h3><i class="icon-lock"></i>&nbsp;Authentication Required</h3>
    </div>
    <div class="modal-body">
        <img src="/img/logo.png" alt="logo"/>
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" class="input-large" name="name" id="username" placeholder="Username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input class="input-large" type="password" name="password" id="password" placeholder="Password">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">Login</button>
    </div>
</form>

<!-- Attachment  Modal -->
<form id="attach" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" method="POST" action="#" enctype="multipart/form-data">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><i class="icon-file"></i> Upload Attachment</h3>
    </div>
    <div class="modal-body">
    <div class="alert alert-block">
        <button class="close" data-dismiss="alert" type="button">&times;</button>
        <h4>Note</h4>
            Please save before uploading attachments. Even if you did not make any changes you must be the last author of the document in order to upload an attachment, you can accomplish this by saving.
        </div>
        <div class="control-group">
            <label class="control-label">File</label>
            <div class="controls">
                <input type="file" name="_attachments"/>
                <input type="hidden" name="_rev"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>
</form>
<!--[if lt IE 8]><script src="/js/json2.js"></script><![endif]-->
<!--[if lt IE 9]><script src="/js/ie.js"></script><![endif]-->
<script src="//code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="/js/bootstrap-custom.js"></script>
<script src="/js/jquery-ui-1.10.0.custom.min.js"></script>
<script src="/js/jquery-ui-timepicker-addon.js"></script>
<script src="/js/mustache.js"></script>
<script src="/js/ckeditor/ckeditor.js"></script>
<script src="/js/SchemaHelper.js"></script>
<script src="/js/manage.js"></script>
</body>
</html>
