<h1>The page you requested cannot be found.<h1>

<hr />

<img src="/img/CarolinaParakeet.jpg" alt="Carolina Parakeet" class="img-polaroid" title="The Carolina Parakeet was the only parrot species native to the eastern United States. It's habitats were forests along rivers, with large hollow trees to use as roosting and nesting sites. Declared extinct in 1938."/>

<h3>
    Unlike the Carolina parakeet once found in the Little River Valley, the page you are requesting may not be extinct.
    Please try searching for the page you are looking for in the search box below.
</h3>

<input id="search404" type="search" placeholder="Search..."/><button class="btn" type="btn">Search</button>

<h4>If this is a broken link or you believe this an error, please contact the <a href="mailto:tr@vispaul.me"> site administrator</a>.</h4>
