{{#volunteer}}
    {{> volunteer}}
{{/volunteer}}

<div class="row">
    {{#top}}
            <div class="span12">
                {{#page}}{{{content}}}{{/page}}
            </div>
    {{/top}}

    {{#events}}
        <div class="span12">

            <h2>{{category}}</h2>

            {{! Add messages for each category here}}
            {{#Breakfast on the Marsh}}
                <div class="alert alert-info">
                    Second Thursday of each month at 8:30am  - Well-seasoned nature
                    lovers (50+), join us for a light breakfast and nature presentation
                    at the Indiana Wesleyan University Education & Conference Center,
                    Room 102/104, 8211 W. Jefferson Blvd, Fort Wayne in February and March;
                    at the Boy Scout office, 8315 W. Jefferson Blvd, Fort Wayne in April;
                    and at Indiana Weslyan Education & Conference Center in May and thereafter.
                    Please register with Liz Hincks at <a href="tel:2604782515">&nbsp;260-478-2515&nbsp;</a> or
                    <a href="mailto:l.hincks@lrwp.org">&nbsp;l.hincks@lrwp.org</a>&nbsp;
                    so we can be sure to have enough food.
                </div>
            {{/Breakfast on the Marsh}}

            {{#docs}}
                {{> event}}
            {{/docs}}
            <hr />
        </div>
    {{/events}}

    {{#bottom}}
        <div class="span12">
            {{#page}}{{{content}}}{{/page}}
        </div>
    {{/bottom}}

    <div class="span12 cancellations">
        <h2>Cancellations</h2>
        <p>
            <b>Please Note:&nbsp;</b>
            All programs are cancelled if Southwest Allen County Schools close due to inclement weather. Our hikes are cancelled if the wind chill is 10 °F or colder.
        </p>
        <hr />
    </div>
</div>
