    <div class="row">

        <div class="span8">

            <!-- Carousel -->
            <div id="slideshow" class="carousel slide">
                <div class="carousel-inner">
                    {{#slide}}
                    <div class="{{active}} item" {{#link}}data-link="{{link}}"{{/link}}>
                        <img src="{{image}}" alt="{{title}}"/>
                        <div class="carousel-caption">
                            <h4>{{title}}</h4>
                            <div>{{{content}}}</div>
                        </div>
                    </div>
                    {{/slide}}
                </div>
                <a class="carousel-control right" href="#slideshow" data-slide="next">&rsaquo;</a>
            </div>

            <!-- Events -->
            <div>
                <h3>Upcoming Events</h3>
                <div id="events"></div>
                <a href="/events" class="btn btn-info pull-right"><i class="icon-calendar"></i>&nbsp;More Events</a>
            </div>

        </div>

        <div class="span4">

            <!-- News -->
            <div id="news">
                <h3>What's New at LRWP</h3>
               <ul class="nav nav-tabs nav-stacked">
                    {{#brief}}
                        <li><a href="news.php#id-{{id}}">{{title}}</a></li>
                    {{/brief}}
                    {{#news}}
                        <li><a href="news.php#id-{{id}}">{{title}}</a></li>
                    {{/news}}
                </ul>
            </div>
 
            <!-- eNews Link -->
            <a id="eNewsLink" href="http://lrwp.us4.list-manage.com/subscribe?u=4d14a5e76dce4b1131c92d50b&amp;id=6959d5cb0b" role="button" class="btn btn-info">
                <i class="icon-envelope"></i>&nbsp;Sign up for our monthly E-Newsletter
            </a>
 
            <!-- Facebook plugin -->
            <iframe id="fb-widget" src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FLittleRiverWetlands&amp;width=298&amp;height=400&amp;show_faces=false&amp;colorscheme=light&amp;stream=true&amp;border_color=white&amp;header=true&amp;appId=442210212516888"></iframe>

            <!--Species Spotlights -->
            <div id="spotlight">
                {{#species}}
                    <div class="species" data-target="#species-{{type}}" title="Click for more info." data-id="{{id}}">
                        <img src="{{image}}" alt="{{common}}" class="img-polaroid"/>
                        <div class="species-title"><b>{{common}}</b> <i>({{latin}})</i></div>
                    </div>
                    <div id="species-{{type}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel-{{type}}" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="modalLabel-{{type}}">{{common}} <i>({{latin}})</i></h3>
                        </div>
                        <div class="modal-body">
                            <img src="{{image}}" alt="{{common}}" class="img-polaroid"/>
                            <div class="species-content"></div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>                    
                {{/species}}
            </div>
                     
        </div>

    </div>

