    <div class="row">

        <div class="span8">

            <!-- Carousel -->
            <div id="slideshow" class="carousel slide" data-interval="2500">
                <div class="carousel-inner">
                    {{#slide}}
                    <div class="{{active}} item">
                        <img src="img/snow.jpg" alt=""/>
                        <div class="carousel-caption">
                            <h4>{{title}}</h4>
                            <div>{{{content}}}</div>
                        </div>
                    </div>
                    {{/slide}}
                </div>
                <div class="carousel-control-overlay">
                    <a class="carousel-control right" href="#slideshow" data-slide="next">&rsaquo;</a>
                </div>
            </div>

            <!-- Events -->
            <div id="events">
                <h3>Upcoming Events</h3>
                {{#event}}
                    <div class="vevent">
                        <h4><a href="#" class="summary url">{{title}}</a></h4>
                        {{#custom}}
                            <b>{{custom}}</b>
                        {{/custom}}
                        <b {{#custom}}class="hidden"{{/custom}}>
                            <span class="dtstart">{{start}}</span> to
                            <span class="dtend">{{end}}</span>
                        </b>

                        <div>{{{content}}}</div>
                    </div>
                {{/event}}
            </div>

        </div>

        <div class="span4">

            <!-- News -->
            <div id="news">
                <h3>What's New at LRWP</h3>
               <ul class="nav nav-tabs nav-stacked">
                    {{#brief}}
                        <li><a href="news.php#id-{{id}}">{{title}}</a></li>
                    {{/brief}}
                    {{#news}}
                        <li><a href="news.php#id-{{id}}">{{title}}</a></li>
                    {{/news}}
                </ul>
            </div>

            <!-- Wildlife Spotlights -->
            <div id="spotlight">

                {{#fauna}}
                    <img src="img/wildlife/vole_microtussp.jpg" alt="{{common}}"/>
                    <div><b>{{common}}</b> <i>({{latin}})</i></div>
                    <p>
                        {{{content}}}
                    </p>
                {{/fauna}}

                {{#flora}}
                    <img src="img/wildlife/buroak_quercusmacrocarpa.jpg" alt="{{common}}"/>
                    <div><b>{{common}}</b> <i>({{latin}})</i></div>
                    <p>
                        {{{content}}}
                    </p>
                {{/flora}}

            </div>

            <a id="eNewsLink" href="http://lrwp.us4.list-manage.com/subscribe?u=4d14a5e76dce4b1131c92d50b&id=6959d5cb0b" role="button" class="btn btn-info">
                <i class="icon-bullhorn"></i> Sign up for our monthly E-Newsletter
            </a>

            <div class="fb-like-box" data-href="http://www.facebook.com/LittleRiverWetlands" data-width="326" data-show-faces="true" data-stream="true" data-header="true"></div>

        </div>

    </div>

