<h1>New Volunteer Application:</h1>
<b>Name: </b> {{first}} {{middle}} {{last}}<br />
<b>Address: </b> <br />
{{address}}<br />
{{#address2}}{{address2}}<br />{{/address2}}
{{city}}, {{state}} {{zip}}<br />
<br />
<b>Telephone: </b>{{phone}}<br />
{{#email}}<b>Email: </b> {{email}}<br />{{/email}}
<b>About how many hours per month do you wish to volunteer? </b>
{{hourspermonth}}<br />

<b>When are you available to start? </b> {{start}}<br />

<b>Can you come in at a regular weekly time?</b> {{regular}}<br />

{{#freq}}
<b>How often might you be available?</b> {{freq}} <br />
{{/freq}}

<b>Would you prefer an 'as needed' schedule for special events or projects?</b> {{asneeded}}<br />

{{#schedule}}
<b>Or some other schedule? (Please explain)</b> {{schedule}} <br />
{{/schedule}}

<b>Your current availability:</b> {{availability}}<br />

<b>Please explain why you would like to volunteer for LRWP and what type work you might be interested in doing:</b>
{{why}}<br />

<b>Please list skills and hobbies: </b> {{skills}} <br />

<b>Please list any recent work and volunteer activities: </b> {{recent}} <br />

<b>List the name, address, and telephone number of three references who are not related to you.</b>
{{ref}}<br />

<b>Have you ever been convicted of a crime?</b> {{crime}} <br />

{{#outcome}}
<b>Please state when, where and final outcome:</b> {{outcome}}
{{/outcome}}

<br />
<hr />
<b>Date: </b> {{date}} <br />
<b>Referrer: </b> {{referer}} <br />
<b>User Agent:</b> {{agent}}<br />
<b>IP Address:</b> {{ip}}<br />
