h2 {
    padding-top:20px;
}

.vevent h4 {
    padding-top:10px;
}

.wrap {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
}

.puff p, .puff h3 {
    padding-left: 10px;
    padding-right: 10px;
}

