body {
    padding-top:80px;
}

#docs img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
}

#docs h2 {
    margin-top:10px;
}

#nav .navbar-inner {
    padding-left:20px;
    padding-right:20px;
}

.schema-name, #schema-form label {
    text-transform: capitalize;
}

#schema-form label {
    font-weight: bold;
}

#schema-form ul {
    list-style: none;
}

#schema-form {
    padding-bottom: 60px;
}

#schema-form legend i {
    vertical-align: middle;
}

#schema-form legend {
    font-size:28px;
    margin-bottom:0;
}

#schema-form ul {
    padding-top:20px;
}

textarea {
    width:100%;
}

.hidden {
    display: none;
}

a {
    cursor: pointer;
}

#login i{
    vertical-align: middle;
}

#docs {
    display:none;
}

#controls {
    position:fixed;
    bottom:10px;
    right:50%;
    margin-right:-470px;
    width:940px;
}

#save {
    margin-left:10px;
}

.wysiwyg {
    margin-bottom:10px;
}

#attach h3 i {
    vertical-align: middle;
}

.uploader-fade {
    opacity: 0.35;
}

.label-upload {
    min-width: 128px;
    margin-right: 10px;
}
.attachment-li {
    margin-bottom:10px;
}

#login .modal-body img {
    float:left;
    margin-right: 50px;
    margin-left: 20px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
