.schema-name, #schema-form label {
    text-transform: capitalize;
}

#schema-form ul {
    list-style: none;
}

textarea {
    width:100%;
}

.hidden {
    display: none;
}

a {
    cursor: pointer;
}

#login {
    width:360px;
}

#login i{
    vertical-align: middle;
}
